.faq-button {
  cursor: pointer;
  float: right;
  margin-left: 1em;
}
.faq-list {
  & > li {
    border: 1px solid #eee;
    padding: .5em;
    & > :first-child {
      display: block;
      cursor: pointer;
      background: #fafafa;
      margin: -.5em;
      padding: .5em;
    }
  }
  & > :not(.faq-clicked) > * { display: none; }
  .anchor {
    &:not(:hover > *) { display: none; }
    & > a::before { content: "#"; }
  }
}
